<div class="home-block">
<div class="slider">
    <div class="discount-list" on>
         <img src="../../../assets/5-tyj-v-podarunok-.jpg" alt="">
         <img src="../../../assets/den-narodzhennya-.jpg" alt="">
         <img src="../../../assets/fotomarafon-.jpg" alt="">
         <img src="../../../assets/rol-tyzhnya.jpg" alt="">
         <img src="../../../assets/monokombo.jpg" alt="">
    </div>
</div>
<div class="description">
    <div class="description__info">
        <img src="../../../assets/mn-delivery-img.svg" alt="" width="135px">
        <button>ЗОНИ ДОСТАВКИ</button>
    </div>
    <div class="description__info description__border">
        <img src="../../../assets/mono-supermen.svg" alt="" width="100px">
        <span>Середній час доставки в зеленій зоні <span class="bold">00:43:00</span></span>
    </div>
    <div class="description__info last">
        <img src="../../../assets/mono-bonus.svg" alt=""  width="75px" class="img">
        <span>Наш графік роботи працюємо з <span class="bold">11:00</span> до<span class="bold"> 22:30</span></span>
    </div>
    .
</div>
</div>